@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;400;600&family=Roboto:wght@100;300;400;500&family=Rye&family=Work+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: black solid 1px; */
}

.mh_100 {
    height: 100px;
    border-bottom: #FF5300 solid 1px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}
.col_2{
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
    
}

.container {
    max-width: 1170px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.flex_dir {
    flex-direction: column;
}

.d-flex {
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}

.align_cenetr {
    align-items: center;
}

.js_cntr {
    justify-content: center;
}

.space_bttwn {
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.box_1 {
    background-color: #FFF7F4;
}

.bg_clr {
    background-color: #FFF7F4;
}

.logo {
    font-family: 'Work Sans';
    font-size: 39.06px;
    line-height: 46px;
    color: #FF5300;
}

.logo1 {
    font-family: 'Work Sans';
    font-size: 39.06px;
    line-height: 46px;
    color: black;
}

.logos {
    z-index: 2;
}

.links {
    margin-left: 29px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #373737;
}

.links:hover {
    color: #FF5300;
}

.nav_bttn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border: solid rgb(109, 105, 105) 2px;
    border-radius: 7px;
}

.nav_bttn:hover {
    cursor: pointer;
    color: white;
    background-color: #FF5300;
}

.col_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.hero_heading {
    margin-top: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48.83px;
    color: #373737;
    margin-bottom: 18px;
}

.hero_subheading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
    margin-bottom: 30px;
}

.hero_bttn {
    width: 182px;
    height: 50px;
    background: #FF5300;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
}

.hero_bttn:hover {
    cursor: pointer;
    color: #FF5300;
    background: white;
    border: #FF5300 solid 1px;

}

.wh_100 {
    width: 100%;
}

.hero_img {
    margin-top: 153px;
    margin-bottom: 149px;
}

.page2_sub {
    margin-top: 128px;
    margin-bottom: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FF5300;
}

.col_12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.ml_links {
    margin-left: 40px;
}

.page2_heading {
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 39.0625px;
    line-height: 59px;
    color: #373737;
}

.col_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.card {
    max-width: 370px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.card_head {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 10px;
    color: #373737;
}

.card_sub {
    margin-top: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12.8px;
    line-height: 19px;
    color: #7B7B7B;
}

.card_para {
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.card_texts {
    margin-left: 25px;
}

.number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 73px;
    color: #EFEFEF;
    margin-right: 20px;
}

.mt_30 {
    margin-top: 30px;
}

.box3 {
    background-color: #FFF7F4;
    margin-top: 120px;
}

.page3_head {
    margin-top: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FF5300;
}

.page3_mainhead {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 39.0625px;
    line-height: 59px;
    color: #373737;
}

.page3_para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;

}

.page3_image {
    margin-top: 140px;
    margin-bottom: 120px;
}

.svg1 {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.fonts_svg {
    cursor: pointer;
    margin-left: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #373737;
}

.svg1:hover path {
    fill: black;
}

.page4_subhead {
    margin-top: 120px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FF5300;
}

.page4_head {
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 39.0625px;

    color: #373737;
}

.clr_font_size {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #7B7B7B;
}


.clr_font_size:hover {
    cursor: pointer;
    padding-right: 8px;
    background-color: #FF5300;
    border-radius: 5px;
    color: white;
}

.clr_font_size {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

.mb_bttm_45 {
    margin-bottom: 45px;
}

.pding_unset {
    padding-left: 0px;
    padding-right: 0px;
}

.box_5 {
    background-color: #FFF7F4;
    margin-top: 120px;
    width: 100%;
}

.card_page5 {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 100%;
    height: 290px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.page5_para {
    margin-top: 7px;
    margin-bottom: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.card_page5 {
    padding: 25px;
}

.mb_25 {
    margin-bottom: 25px;
}

.page5_card_head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FF5300;
    margin-right: 69px;
}

.page5_card_para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12.8px;
    line-height: 19px;
    color: #7B7B7B;
}

.card_img {
    margin-right: 15px;
}

.poss_rel {
    position: relative;
}

.mrgn_bttm {
    margin-bottom: 120px;
}

.page6_subhead {
    margin-top: 120px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FF5300;
}

.mt_120 {
    margin-top: 140px;
}

.smal_head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: #FF5300;
}

.col_3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.smal_para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12.8px;
    line-height: 19px;
    color: #373737;
}

.smal_card {
    margin-top: 40px;
    margin-bottom: 120px;
    width: 125px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.bg_clr_orange {
    background-color: #FF5300;
    border-radius: 10px;
    margin-bottom: 120px;
}

.orange_head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 39.0625px;
    line-height: 59px;
    color: #FFFFFF;
}

.col_3_box {
    margin-top: 40px;
    margin-bottom: 40px;
}

.orange_sub_head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;

}

.border_rgt {
    border-right: solid white 4px;
}

.box7_card {
    padding: 12px;
    max-width: 370%;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 90px;
}

.box_7_para {
    margin-top: 18px;
    margin-bottom: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.box_7_head {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #373737;
}

.box_7_bttn {
    width: 150px;
    height: 50px;
    background-color: #FF5300;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
}

.box_7_bttn:hover {
    background-color: white;
    color: #FF5300;
    cursor: pointer;
    border: #FF5300 1px solid;
}


.page7_sub {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FF5300;
    margin-top: 120px;
    margin-bottom: 15px;
}

.page7_head {
    margin-bottom: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 39.0625px;
    line-height: 59px;
    color: #373737;
}

.orange_box2 {
    background-color: #FF5300;
    border-radius: 8px;
    margin-top: 120px;
}

.page8_sub {
    padding-top: 51px;
    margin-bottom: 15px;
    margin-right: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.page8_head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 39.0625px;
    line-height: 59px;
    padding-bottom: 51px;
    color: #FFFFFF;
}

.input_box {
    position: relative;
    background: white;
    max-width: 550px;
    height: 60px;
    margin-top: 85px;
    border-radius: 5px;
}

.input {
    border: none;
    margin: 23px;
    font-size: 14px;
}

.input_bttn {
    position: absolute;
    right: 1%;
    top: 1%;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 222px;
    height: 50px;
    margin-top: 5px;
    background: #FF5300;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    border: none;
}

.input_bttn:hover {
    background-color: white;
    color: #FF5300;
    border: #FF5300 1px solid;
    cursor: pointer;
}

footer {
    background: #000;
    margin-top: 120px;
}

.logo2 {
    margin-bottom: 20px;
    font-family: 'Work Sans';
    font-size: 39.06px;
    line-height: 46px;
    color: white;
}

.footer_para {
    margin-bottom: 65px;
    margin-top: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.mt_66 {
    margin-top: 66px;
}

.loction {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #FF5300;
    margin-bottom: 20px;
}

.footer_para2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 75px;
}

.spans:hover a path {
    fill: #FF5300;
}

.mb_65 {
    margin-bottom: 65px;
}

.js_end {
    justify-content: flex-end;
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
}

.copyright {
    font-family: 'Work Sans';
    font-size: 12px;
    line-height: 150.6%;
    color: #FFFFFF;
}

.mt-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.height {
    height: 100%;
}

@media (min-width:320px) {
    .mb_nav{
        margin-bottom: 30px;
    }
    .links {
        margin-left:unset;
        font-size: 26px;
        line-height: 30px;
        color: #373737;
    }
    .col4-xsm-screen{
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .col12-sm-screen {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .hero_heading {
        margin-top: 28px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16.83px;
        color: #373737;
        margin-bottom: 18px;
    }
    
    .hero_subheading {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: #7B7B7B;
        margin-bottom: 25px;
    }
    
    .hero_bttn {
        width: 139px;
        height: 37px;
        background: #FF5300;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 16px;
    }
    
    .hero_img {
        margin-top: 53px;
        margin-bottom: 19px;
    }
    
    .page2_sub {
        margin-top: 12px;
        margin-bottom: 0px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: #FF5300;
    }
    
    .page2_heading {
        margin-bottom: 0px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 25.0625px;
        line-height: 59px;
        color: #373737;
    }
    
    .mt_30 {
        margin-top: 0px;
    }
    
    .page3_mainhead {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24.0625px;
        line-height: 32px;
        color: #373737;
    }
    
    .page3_head {
        margin-top: 24px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 37px;
        color: #FF5300;
    }
    
    .page3_para {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #7B7B7B;
    }
    
    .page3_image {
        margin-top: 42px;
        margin-bottom: 43px;
    }
    
    .page4_subhead {
        margin-top: 43px;
        margin-bottom: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FF5300;
    }
    
    .page4_head {
        margin-bottom: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 26.0625px;
        color: #373737;
    }
    
    .page4_head {
        margin-bottom: 21px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 19.0625px;
        color: #373737;
    }
    
    .footer_para {
        margin-bottom: 0px;
        margin-top: 14px;
    }
    
    .loction {
        margin-top: -30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 38px;
        color: #FF5300;
        margin-bottom: 3px;
    }
    .center-sm-screen {
        display: flex;
        justify-content: center;
        margin-bottom: 22px;
    }
    .mt_120 {
        margin-top: -40px;
    }
    .mrgn_bttm20 {
        margin-bottom: 20px;
    }
    .input_bttn {
        position: absolute;
        right: 2%;
        top: 0%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 218px;
        height: 40px;
        margin-top: 5px;
        background: #FF5300;
        border-radius: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
        color: #FFFFFF;
        border: none;
    }
    
    .input_box {
        position: relative;
        background: white;
        max-width: 550px;
        height: 50px;
        margin-top: 52px;
        border-radius: 5px;
    }
    
    .input_bttn {
        position: absolute;
        right: 21%;
        top: 107%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 218px;
        height: 40px;
        margin-top: 5px;
        background: white;
        border-radius: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
        color: #FF5300;
        border: none;
    }
    .page8_head {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24.0625px;
        line-height: 59px;
        padding-bottom: 36px;
        color: #FFFFFF;
    }
    .box3 {
        margin-top: 30px;
    }
    .box_5 {
        margin-top: 60px;
    }
    .page6_subhead {
        margin-top: 43px
    }
    .mrgn_bttm {
        margin-bottom: 51px;
    }
    .default-screen{
        width: 50%;
    }
    .mrgn-unset{
        margin-bottom: unset;
    }
    .smal_card {
        margin-top: 40px;
        margin-bottom: 50px;
        width: unset;
    }
    .page7_sub {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FF5300;
        margin-top: 42px;
        margin-bottom: 15px;
    }
    .default-screen-col6{
        width: 100%;
    }
    .bg_clr_orange {
        background-color: #FF5300;
        border-radius: 10px;
        margin-bottom: 60px;
    }
    .page7_head {
        margin-bottom: 28px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18.0625px;
        line-height: 14px;
        color: #373737;
    }
    .box7_card {
        padding: 12px;
        max-width: 370%;
        margin-bottom: 13px;
    }
    .input {
        border: none;
        margin: 21px;
        font-size: 8px;
    }
    .col12-xsm-screen{
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .input_box {
        margin-top:-30px;
        margin-bottom: 30px;
    }
    .input_bttn {
        position: absolute;
        right: 1%;
        top: 1%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 218px;
        height: 40px;
        margin-top: 5px;
       background: #FF5300;
        border-radius: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
        color:white;
        border: none;
    }
    .orange_box2 {
        margin-top: 30px;
    }
    footer {
        background: #000;
        margin-top: 40px;
    }
    
}

@media (min-width:576px) {
   .col3-sm-screen{
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
   }
    .mt_8{
        margin-top: -6px;
    }
    footer {
        background: #000;
        margin-top:120px;
    }   
    .smal_card {
        margin-top: 40px;
        margin-bottom: 50px;
        width: unset;

    }
    .col12-sm-screen {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .hero_heading {
        margin-top: 35px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 35.83px;
        color: #373737;
        margin-bottom: 18px;
    }

    .col6-sm-screen {
        width: 50%;
    }

    .mrgn_bttm20 {
        margin-bottom: 20px;
    }

    

    .page8_head {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24.0625px;
        line-height: 59px;
        padding-bottom: 36px;
        color: #FFFFFF;
    }

    .input_box {
        margin-top:-30px;
        margin-bottom: 30px;
    }
    .input_bttn {
        position: absolute;
        right: 1%;
        top: 1%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 218px;
        height: 40px;
        margin-top: 5px;
       background: #FF5300;
        border-radius: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
        color:white;
        border: none;
    }

    
    .center-sm-screen {
        display: flex;
        justify-content: center;
        margin-bottom: 22px;
    }

    .mt_66 {
        margin-top: 45px;
    }

    .footer_para {
        margin-bottom: 0px;
    }

    .clr_font_size {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #7B7B7B;
    }
    .page2_sub {
        margin-top: 40px;
    }

    .hero_img {
        margin-top: 53px;
        margin-bottom: 49px;
    }

    .page3_head {
        margin-top: 40px;
    }

    .page3_image {
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .page4_subhead {
        margin-top: 40px;
    }

    .page6_subhead {
        margin-top: 50px;
    }

   
    .mrgn_bttm-sm {
        margin-bottom: 60px;
        margin-top: 24px;
    }

    .smal_card {
        margin-bottom: 87px;
    }

    .box7_card {
        margin-bottom: 30px;
    }

    .page7_head {
        margin-bottom: 17px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 29.0625px;
        line-height: 59px;
        color: #373737;
    }

    .page7_sub {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FF5300;
        margin-top: 60px;
        margin-bottom: 15px;
    }

    .orange_box2 {
        background-color: #FF5300;
        border-radius: 8px;
        margin-top: 50px;
        margin-bottom: -74px;
    }

    .mb_sm_screen {
        margin-bottom: 20px;
    }
    .input {
        border: none;
        margin: 17px;
        font-size: 15px;
    }

}

@media (min-width:768px) {
    .col4-md-screen{
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .col2-md-lg-screen{
        width: 16.66%;
        padding-left: 12px;
        padding-right: 12px;
    }
    footer {
        background: #000;
        margin-top: 120px;
    }   
    .mt_120 {
        margin-top: 10px;
    }
    .smal_card {
        margin-top: 40px;
        margin-bottom: 50px;
        width: unset;

    }

    .hero_heading {
        margin-top: 55px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 49.83px;
        color: #373737;
        margin-bottom: 18px;
    }

    .col6-md-screen-pic {
        width: 50%;
        padding-left: unset;
        padding-right: unset;
    }

    .col6-md-screen {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .page4_head {
        margin-bottom: 21px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40.0625px;
        color: #373737;
    }

    .col3-md-screen {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width:992px) {
    .mb_nav{
        margin-top: 30px;
    }
    .links {
        margin-left: 30px;
        font-size: 20px;
        line-height: 30px;
        color: #373737;
    }
    .page3_mainhead {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 39.0625px;
        line-height: 55px;
        color: #373737;
        margin-bottom: 12px;
    }
    .col12-xsm-screen{
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .mrgn_bttm-sm {
        margin-bottom: 60px;
         margin-top: unset; */
    }
    .page8_sub {
        padding-top: 51px;
        margin-bottom: 15px;
        margin-right: 40px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    
    .page8_head {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 39.0625px;
        line-height: 59px;
        padding-bottom: 51px;
        color: #FFFFFF;
    }
    
    .input_box {
        position: relative;
        background: white;
        max-width: 550px;
        height: 60px;
        margin-top: 85px;
        border-radius: 5px;
    }
    
    .input {
        border: none;
        margin: 23px;
        font-size: 14px;
    }
    
    .input_bttn {
        position: absolute;
        right: 1%;
        top: 1%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 222px;
        height: 50px;
        margin-top: 5px;
        background: #FF5300;
        border-radius: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        border: none;
    }
    
    .input_bttn:hover {
        background-color: white;
        color: #FF5300;
        border: #FF5300 1px solid;
        cursor: pointer;
    }
    .loction {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 38px;
        color: #FF5300;
        margin-bottom: 20px;
        margin-top: 2px;
    }
    
    .col6-xl-screen {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .hero_heading {
        margin-top: 200px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 48.83px;
        color: #373737;
        margin-bottom: 18px;
    }

    .hero_img {
        margin-top: 153px;
        margin-bottom: 149px;
    }

    .col_3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col_4 {
        width: 33.33%;
    }

    .input_box {
        position: relative;
        background: white;
        max-width: 550px;
        height: 60px;
        margin-top: 85px;
        border-radius: 5px;
    }

    .input {
        border: none;
        margin: 23px;
        font-size: 14px;
    }

    .input_bttn {
        position: absolute;
        right: 1%;
        top: 1%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 222px;
        height: 50px;
        margin-top: 5px;
        background: #FF5300;
        border-radius: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        border: none;
    }

    .input_bttn:hover {
        background-color: white;
        color: #FF5300;
        border: #FF5300 1px solid;
        cursor: pointer;
    }

    .page3_head {
        margin-top: 120px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FF5300;
    }

    .page3_image {
        margin-top: 140px;
        margin-bottom: 120px;
    }

    .clr_font_size {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #7B7B7B;
    }


    .clr_font_size:hover {
        cursor: pointer;
        padding-right: 8px;
        background-color: #FF5300;
        border-radius: 5px;
        color: white;
    }

    .clr_font_size {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .page6_subhead {
        margin-top: 120px;
        margin-bottom: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FF5300;
    }

    .mt_120 {
        margin-top: 140px;
    }

    .bg_clr_orange {
        background-color: #FF5300;
        border-radius: 10px;
        margin-bottom: 120px;
    }

    .orange_box2 {
        background-color: #FF5300;
        border-radius: 8px;
        margin-top: 120px;
        margin-bottom: 10px;
    }

    .footer_para {
        margin-bottom: 65px;
        margin-top: 14px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }



}

@media (max-width:992px) {
    .nav_md_screen {
        opacity: 0;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    label[for="iconbox"] {
        height: 30px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        z-index: 7;
    }

    label[for="iconbox"]>span {
        height: 4px;
        width: 100%;
        background-color: #FF5300;
        border-radius: 4px;
    }

    input[type="checkbox"]:checked+ul.nav_md_screen {
        opacity: 1;
        left: 0;
        z-index: 1;
    }
}